<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>参赛名单</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    @@include('../components/link.html')
</head>
<body>
<div class="page page-sign">
    <div class="page-body">
        <img class="logo" src="/static/img/logo.png">
        <div>

            <input id="name" placeholder="姓名">
        </div>

    </div>
</div>

@@include('../components/script.html')
<script src="/static/js/admin.js"></script>
</body>
</html>
