<!DOCTYPE html>
<html style="font-size: 40px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="layoutmode" content="standard">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <meta name="wap-font-scale" content="no">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Pragma" content="no-cache">
    @@include('../components/link.html')
</head>
<body class="main_box">
<div class="page page-award">
    <header class="page-header"></header>
    <div class="page-body">
        <div class="page-title">•&nbsp;刮奖区&nbsp;•</div>
    </div>
    <div class="box">
        <div class="content">
            <div id="mask_img_bg">
                <span id="bg-thanks" class="cont-span">谢谢参与</span>
                <div id="bg-award" class="award-box">
                    <img class="img" src="/static/img/prize.png">
                    <div class="text">米家行车记录仪一个</div>
                </div>
            </div>
            <img id="redux" src="static/img/layer.png"/>
        </div>
    </div>

    <div id="mask" class="mask"></div>
    <div id="success-box" class="success-box" style="display: none">
        <div class="award">
            <div class="title">恭喜中奖~</div>
            <div class="content">小米行车记录仪一台</div>
        </div>
        <!--<img class="close" src="/static/img/icon-close.png">-->
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/lib/jquery.eraser.js"></script>
<script src="/static/js/award.js"></script>

</body>
</html>